doctype html 
html
  head 
    style
       include ../static/style.css 
  body 
    nav#navbar 
        ul 
            div#logo
                img(src="/static/img/3.png")
                
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info] 
            li #[a(href="/") Contact Us]
    section#introSection 
        div  Welcome to Dance Academy 
        div.small Eat Dance Sleep Repeat

    section#missionSection 
        h2 Our mission
        div.card
            h3 Dance the way you like 
            div.card-box
                div.card-img
                    img(src="/static/img/1.jpg")

                div.card-content
                    p This the best dance academy
        div.card
            h3 All dance forms
            div.card-box
                div.card-img
                    img(src="/static/img/2.jpg")

                div.card-content
                    p This the best dance academy

        div.card
            h3 Expert teachers
            div.card-box
                div.card-img
                    img(src="/static/img/4.png")

                div.card-content
                    p This the best dance academy

    section#sponsersSection 
        h2 Our Sponsers
        div#sponsers
            img(src="/static/img/logo1.jpg", alt="Sponser Image", class="spimage")
            img(src="/static/img/logo2.jpg", alt="Sponser Image", class="spimage")
            img(src="/static/img/logo3.jpg", alt="Sponser Image", class="spimage")
    

    footer#footer
        | Copyright @ 2019 DanceAcademy.com | All rights reserved
    
    script 
      include ../static/index.js 